@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
nav{
    height: 50px;
    background: #333333;
    color: #ffffff;
}
.postForm{
    background: #333333;
    margin: 0 auto;
    width: 600px;
    text-align: center;
    padding: 40px;
    border-radius: 5px;
}
body{
    background: #c0c0c0;
    background-image: url(blured.jpg);
    background-size: cover;
    margin: 0;
}
body h1{
    color: #ffffff;
    font-size: 2.5em;
    font-family: 'Fredoka One', cursive;
}
form input{
    margin: 0 auto;
    width: 100%;
    height:50px;
    display: inline-block;
    border: none;
    border-radius: 3px;
}
form textarea{
    height: 400px;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
}
h1{
    text-align: center;
}

/*BUTTON GROUP*/

#allcode h1{
    background: #ffffff;
    text-decoration: none;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    color: #333333;
    float: right;
}
#allcode img{
    width: 100px;
    height: auto;
    margin: 20px;
}
