nav{
    height: 50px;
    background: #333333;
    color: #ffffff;
}
.postForm{
    background: #333333;
    margin: 0 auto;
    width: 600px;
    text-align: center;
    padding: 40px;
    border-radius: 5px;
}
body{
    background: #c0c0c0;
    margin: 0;
}
form input{
    margin: 0 auto;
    width: 100%;
    height:50px;
    display: inline-block;
    border: none;
    border-radius: 3px;
}
form textarea{
    height: 400px;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
}
h1{
    text-align: center;
}

/*BUTTON GROUP*/
a{
    float: right;
    height: 200px;
    width: 200px;
}
